<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> EJS To-do List </title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="box" id='heading'>
        <h1>It's <%=kindOfDay%> </h1>
    </div>

    <div class="box">

        <% newItem.forEach(function(item){ %>
            <form action='/delete' method="post">
                <div class="item">
                    <input name="checkBox" 
                        onChange="this.form.submit()" 
                        type="checkbox"
                        value="<%= item._id %>"
                    <p> <%= item.name %> </p>
                </div>
            </form>
          <%  }) %>            
        
        <form class="item" action='/' method="post">
            <input type="text" name="newItem" required autofocus>
            <button type="submit" name="button"> + </button>
        </form>
    </div>

    <div id="weatherSection">
        <h1> Expected Weather: </h1>
        <p> <%= weatherToday %> </p>
    </div>
    
</body>
</html>